.wrapper{
}

.container{
    position: relative;
}

img{
    /* width: 500px;
    height: 500px; */
    object-fit: fill;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border: 1px solid #000;
}